{% extends "base_generic.html" %}

{% block content %}
  <h1>Mode 6</h1>
  <p>Here, You can calculate the angle of rotation required to get maximum shear strain. </p>

  <form method="post" action="">{% csrf_token %}
  <table>
  	{% for field in form %}
      <tr>
      <td>{{ field.label }}</td>
      <td>{{ field }}</td>
      <td>{{ field.help_text }}</td>
      <td></td>
      </tr>
    {% endfor %}
  </table>
  <p><input type="submit" value="Compute"></form></p>

  {% load static %}
  <img src= "{% static '123.png' %}" >
  <p>ϑ is {{ angle1 }}° or {{ angle2 }}°.</p> 
  <p>Max.γ_xy is {{ max_gamma }}(10^({{ unit }})).</p>


{% endblock %}