{% extends "base_generic.html" %}

{% block content %}
  <h1>Mode 2</h1>
  <p>Here, You can calculate the angle of rotation required to get principal stress. </p>

  <form method="post" action="">{% csrf_token %}
  <table>
  	{% for field in form %}
      <tr>
      <td>{{ field.label }}</td>
      <td>{{ field }}</td>
      <td>{{ field.help_text }}</td>
      <td></td>
      </tr>
    {% endfor %}
  </table>
  <p><input type="submit" value="Compute"></form></p>


  {% load static %}
  <img src= "{% static '123.png' %}" >
  <p>ϑ is {{ angle1 }}° or {{ angle2 }}°.</p>
  <p>σ_1 is {{ sigma1 }}({{ unit }}), and σ_2 is {{ sigma2 }}({{ unit }}).</p>


 

{% endblock %}